<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <!-- Homepage -->
  <url>
    <loc>https://www.{{domain}}/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  
  <!-- Blog index -->
  <url>
    <loc>https://www.{{domain}}/blog.html</loc>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Blog posts -->
  {{#each posts}}
  <url>
    <loc>https://www.{{../domain}}/blog/{{this.Slug}}.html</loc>
    <lastmod>{{formatSitemapDate this.Date_de_publication}}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {{/each}}
</urlset> 