# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Logs
logs/
*.log

# Workspaces
workspaces/

# Node.js
node_modules/

#python virtual env
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# IDE
.idea/
*.swp
*.swo

# Configuration
website_configs/*
!website_configs/sample.yaml
!website_configs/example.yaml

websites/

old_rules/

data/

tests/output/
tests/test_data/